@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 258 39% 6%;
    --foreground: 210 40% 96%;
    --card: 258 33% 9%;
    --card-foreground: 210 40% 96%;
    --popover: 258 33% 9%;
    --popover-foreground: 210 40% 96%;
    --primary: 270 90% 65%;
    --primary-foreground: 258 39% 6%;
    --secondary: 239 84% 67%;
    --secondary-foreground: 210 40% 96%;
    --muted: 270 30% 12%;
    --muted-foreground: 220 9% 46%;
    --accent: 270 39% 17%;
    --accent-foreground: 210 40% 96%;
    --destructive: 0 62% 42%;
    --destructive-foreground: 210 40% 98%;
    --border: 265 33% 19%;
    --input: 265 33% 19%;
    --ring: 270 90% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
