@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 12% 11%;
    --foreground: 240 20% 94%;
    --card: 252 10% 15%;
    --card-foreground: 240 20% 94%;
    --popover: 252 10% 15%;
    --popover-foreground: 240 20% 94%;
    --primary: 239 26% 52%;
    --primary-foreground: 240 20% 96%;
    --secondary: 233 74% 71%;
    --secondary-foreground: 240 20% 96%;
    --muted: 252 9% 19%;
    --muted-foreground: 240 8% 58%;
    --accent: 252 13% 22%;
    --accent-foreground: 240 20% 94%;
    --destructive: 0 62% 42%;
    --destructive-foreground: 210 40% 98%;
    --border: 252 10% 24%;
    --input: 252 10% 24%;
    --ring: 239 26% 52%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
